body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: azure;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: black;
    height: 90vh;
    min-width: 300px;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
    margin-top: 0.75rem;
}

.main-content {
    background-color: #121212;
    height: 90vh;
    width: 75vw;
    border-radius: 1rem;
    overflow: auto;
    padding-left: 1rem;
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;

}

.music-player {
    background-color: black;
    height: 10vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    display: flex;
}

.nav {
    background-color: #121212;
    padding: 8px 12px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
}

.nav-option {
    margin: 10px;
    opacity: 0.7;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-option i {
    font-size: 1.25rem;
    margin-right: 1rem;
}

.library {
    margin-top: 0.75rem;
    background-color: #121212;
    border-radius: 1rem;

}

.options {
    display: flex;
    justify-content: space-between;

}

.options img {
    height: 1.25rem;
    margin: 1rem;
}

.options p {
    margin-top: 1rem;
    align-items: flex-start;
    position: absolute;
    display: inline-flex;
}

.icons {
    margin: 1rem;
}

.icons i {
    margin-left: 1rem;
    opacity: 0.7;
}

.icons i:hover {
    opacity: 1;
}

.lib-options:hover {
    opacity: 1;
}

.lib-options {
    opacity: 0.7;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
}

.box {
    padding: 1.25rem;
    background-color: #171717;
    margin: 0.75rem;
    border-radius: 1rem;
    width: 300px;
    line-height: 30px;
}

.boxes {
    width: 300px;
}

.p1 {
    font-weight: bolder;
}

.p2 {
    font-size: smaller;
}

.badge-lib {
    transform: scaleY(1.2) scaleX(1.2);
    margin-left: 0.5rem;
    transition-duration: 10ms;
    transition-timing-function: ease-in-out;
    margin-top: 0.75rem;
    padding: 6px 5px;
}

.badge-lib:hover {
    transform: scaleY(1.3) scaleX(1.3);
    margin-left: 0.5rem;
    opacity: 0.8;
}

.badge-nav:hover {
    opacity: 1;
}

.badge-nav {
    transform: scaleY(1.2) scaleX(1.2);
    margin: 1rem;
    transition-duration: 10ms;
    transition-timing-function: ease-in-out;
    margin-top: 0.75rem;
    padding: 6px 5px;
    opacity: 0.75;
}

.install-app {
    background-color: black;
    padding-right: 10px;
}

.sticky-nav img {
    height: 1.25rem;
    margin: 1rem;
}

.sticky-nav {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    position: sticky;
    top: 0;
    background-color: #121212;
    height: 4.5rem;
    z-index: 10;
}

.more-options i {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media(max-width:1000px) {
    .hide {
        display: none;
    }
}

.card img {
    height: 200px;
    width: 200px;
    margin: 0 auto 1.75rem auto;
}

.card {
    background-color: #171717;
    line-height: 1.5rem;
    width: 250px;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

h4 {
    font-weight: bolder;
    margin-top: 2rem;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.songs {
    height: 50rem;
}

.songs hr {
    background-color: #444444;
}

.card:hover {
    background-color: #232323;
    transform: scale(1.05, 1.05);

}

.card i {
    color: #1DB954;
    font-size: 2.5rem;
    position: absolute;
    right: 0.5rem;
    top: 12.8rem;
    opacity: 0;
    transition-duration: 10ms;
    transition-timing-function: ease-in-out;
}

.card:hover i {
    opacity: 1;
}

.song{
    width: 25vw;
    display: flex;
    justify-content: space-around;
}

.song img{
    height: 3rem;
    border-radius: 8%;
}

.details{
    display: flex;
    flex-direction: column;
}

.song-name{
    font-weight: bolder;
}

.song-artist{
    font-size: smaller;
}
.song i{
    align-content:space-around; 
    font-size: 1.25rem;
}

.solid-heart{
    opacity: 0;
    position: relative;
    right: 3.1rem;
}

.solid-heart:hover{
    opacity: 1;
}

.player-controls{
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: center;
}
.player-controls img{
    height: 1rem;
    margin: 0px 0.5rem;
}

.progress{
    width: 35vw;
    background-color: transparent;
    appearance: none;
    cursor: pointer;
}

.player-bar{
    display: flex;
    justify-content: center;
}

.player-bar span{
    font-size: small;
    margin: 0px 0.5rem;
}

.progress::-webkit-slider-runnable-track{
    height: 0.2rem;
    background-color: rgba(240, 248, 255, 0.26);
    border-radius: 2px;
}

.progress::-webkit-slider-thumb{
    appearance: none;
    background-color: #1DB954;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    margin-top:-0.3rem;
}

.settings{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.volume::-webkit-slider-runnable-track{
    height: 4px;
    background-color: rgba(255, 255, 255, 0.868);
}

.volume::-webkit-slider-thumb{
    appearance: none;
    background-color: white;
    height: 0.8rem;
    width: 0.8rem;
    margin: -0.35rem;
}

.volume::-webkit-progress-value{
    background-color: rgba(255, 255, 255, 1);
}
.volume{
    position: relative;
    bottom: 4px;
    margin-left: 2px;
}

.settings i{
    margin-left: 0.75rem;
    font-size: 1.2rem;
    opacity: 0.8;
}

.settings i:hover{
    opacity: 1;
}

.settings svg{
    margin-left: 0.75rem;
    font-size: 1.2rem;
}